* {
    color: var(--light-color);
}

.container {
    text-align: center;
}

.add_plant {
    width: 40%;
    height: 45vh;
    margin: 50px auto;
    padding: 10px;
    background: transparent;
    border: 2px solid rgba(153, 181, 156, 0.4);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: var(--light-color);
    border-radius: 10px;
}

.plant_form {
    background: transparent;
    border: 2px solid rgba(119, 161, 125, 0.575);
    width: 50%;
    margin: auto;
    padding: 15px;
    border-radius: 20px;
}

.plant_form input, textarea {
    width: 70%;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    color: var(--dark-color);
}

.button {
    width: 30%;
    color: var(--dark-color);
}

#notes {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

#notes li {
    border: 1px solid red;
    padding: 20px;
}