* {
    color: var(--light-color);
}

.container {
    text-align: center;
}

.heading {
    width: 30%;
    margin: 50px auto;
    background: transparent;
    border: 2px solid rgba(153, 181, 156, 0.4);
    backdrop-filter: blur(90px);
    border-radius: 10px;
}

.add_plant {
    width: 40%;
    height: 45vh;
    margin: 50px auto;
    padding: 10px;
    background: transparent;
    border: 2px solid rgba(153, 181, 156, 0.4);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: var(--light-color);
    border-radius: 10px;
}

.plant_form {
    background: transparent;
    border: 2px solid rgba(119, 161, 125, 0.575);
    width: 50%;
    margin: auto;
    padding: 15px;
    border-radius: 20px;
}

.plant_form input, textarea {
    width: 70%;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    color: var(--dark-color);
}

.button {
    width: fit-content;
    color: var(--dark-color);
    padding: 5px;
    font-size: 12px;
}

#notes {
    margin: 0 30%;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 33.3333%;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

#notes li {
    width: 30%;
    margin: 5px 5px 10px 5px;
    padding: 20px;
    font-size: 20px;
    border: 2px solid rgba(153, 181, 156, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}