* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    --dark-color: #002e1c;
    --light-color: #E5F2C9;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.container {
    max-width: 100%;
    padding: 0;
}
 
/* Header / Navbar */
#navbar > ul {
    height: 150px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    color: var(--dark-color);
    padding: 20px 20px;
    margin: 0;
}

#logo {
    width: 120px;
}

#nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    font-size: 22px;
}

#nav-links a {
    color: var(--light-color);
}

/* Flash Messages */
.alert {
    position: absolute;
    top: 125px;
    right: 10px;
    border-radius: 12px;
    background-color: #d1ebed;
}

.alert button {
    padding-left: 7px;
}

/* Footer */
footer {
    text-align: center;
    font-style: italic;
    padding: 20px;
    background-color: var(--dark-color);
    color: var(--light-color);
    margin-top: auto;
}