<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Buddy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plant_basic_info.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
        {% if error %}
            <p>{{ error }}</p>
        {% else %}
            <h2>Plant Basic Information</h2>
            <div class="plant-info">
                <img src="{{ plant_details[7] }}" alt="Plant Image">
                <p><strong>Common Name:</strong> {{ plant_details[0] }}</p>
                <p><strong>Scientific Name:</strong> {{ plant_details[1] }}</p>
                <p><strong>Other Names:</strong> {{ plant_details[2] }}</p>
                <p><strong>Family:</strong> {{ plant_details[3] }}</p>
                <p><strong>Origin:</strong> {{ plant_details[4] }}</p>
                <p><strong>Type:</strong> {{ plant_details[5] }}</p>
                <p><strong>Description:</strong> {{ plant_details[6] }}</p>
            </div>
        {% endif %}
    </div>
</body>
</html>

