<!-- Base Template -->
{% extends "base.html" %}

<!-- CSS -->
{% block css %}
{% endblock %}

<!-- Title -->
{% block title %}Dashboard{% endblock %}

<!-- Body -->
{% block content %}
<h1>Hi {{ user.username }},<br>Welcome to your Buddy Board!</h1>
<h3>Keep track of all your plants in your Buddy Board</h3>
<form action="" method="post">
        <input type="text" name="plant_name" placeholder="Plant Name" required><br>
        <input type="text" name="plant_species" placeholder="Plant Species" required><br>
        <textarea name="details" placeholder="Plant Details" required></textarea><br>
        <input type="submit" value="Add Plant">
</form>
<!-- Section to show all existing notes -->
 <ul id="notes">
        <!-- Displaying notes with delete button -->
        {% for note in notes %}
        <li>
            <strong>{{ note.plant_name }}</strong>: {{ note.plant_species }}<br>
            <p>{{ note.details }}</p>
            <form action="/delete-note/{{ note.id }}" method="POST" style="display: inline;">
                <input type="submit" value="Delete">
            </form>
        </li>
        {% endfor %}
 </ul>
{% endblock %}