<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden App</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Green Buddy</h1>
        </div>
    </header>
    <div class="container">
        <form id="shops_location-form" method="POST" action="/nearby_shops">
            <label for="location"><b>Enter your location:</b></label>
            <input type="text" id="your_location" name="nearbyshops" placeholder="e.g., New York" required><br>
            <button type="submit" class="btn btn-dark"><b>Search</b></button>
        </form>
    </div>

</body>
</html>
